.my-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    color: $my-white;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    font-size: 36px;
}