// Margin for jumbotron
$margin-header-top: 86px; // header height

/* Chrome scrollbar */


/* ::-webkit-scrollbar {
    display: none;
} */


/* Firefox scrollbar */

:root {
    scrollbar-width: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.flex-complete {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control:focus {
    border: 1px solid #ced4da;
}

*:focus,
*:active:focus,
*.active:focus {
    outline: none !important;
    box-shadow: none !important;
}

button:focus {
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: $my-dark !important;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.pointer {
    cursor: pointer;
}

.sign-in {
    a {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

.facebook-sign-in {
    cursor: pointer;
    font-size: 20px;
    color: $my-white;
    background-color: #3b5998;
    transition: ease 0.3s;
    padding: 15px 20px;
    i {
        color: $my-white;
    }
    &:hover {
        background-color: #183269;
        color: white;
    }
}

.google-sign-in {
    cursor: pointer;
    font-size: 20px;
    color: white;
    background-color: #de5246;
    transition: ease 0.3s;
    padding: 15px 30px;
    i {
        color: $my-white;
    }
    &:hover {
        background-color: #b42a1d;
        color: white;
    }
}

.twitter-sign-in {
    cursor: pointer;
    font-size: 20px;
    color: $my-white;
    background-color: #1da1f2;
    transition: ease 0.3s;
    padding: 15px 30px;
    i {
        color: $my-white;
    }
    &:hover {
        background-color: #1778b5;
        color: $my-white;
    }
}

.my-h2 {
    font-size: 24px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.rotate {
    transform: rotate(90deg);
}

.rotate-180 {
    transform: rotate(180deg);
}

.error-container {
    min-height: 587px;
    width: 80%;
    margin: auto;
}

.divider {
    margin: 10px 0;
    border: 1px solid $my-ultra-light-grey;
}

// INVALID FIELDS
.my-is-invalid {
    border-bottom: 2px solid #ff6200 !important;
}

// SWAL FRONT END
.swal2-timer-progress-bar {
    background-color: $my-success-light !important;
}

.swal2-title {
    font-weight: normal !important;
    font-size: 25px !important;
}

.swal2-container {
    width: 600px !important;
}

//DIVIDER
.divider {
    margin: 10px 0;
    border: 1px solid $my-ultra-light-grey;
}