@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
// VARIABLES
$my-white: #ffff;
$my-dark: #222222;
$my-ultra-light-grey: #f0f0f0;
$my-light-grey: lightgray;
$my-grey-medium: #838383;
$my-grey: #444444;
$my-orange: #f07f2f;
$my-primary: #f07f2f;
$my-success: #3bcc72;
$my-success-light: #81d4a1;
$my-secondary: #828bb3;
$my-secondary-hover: #7982a5;
$my-danger: #dc3545;
$my-danger-hover: #d5d0ce;
// COLORS
.my-white {
    color: $my-white !important;
}

.my-dark {
    color: $my-dark !important;
}

.my-orange {
    color: $my-orange !important;
}

.my-grey {
    color: $my-grey !important;
}

.my-grey-medium {
    color: $my-grey-medium !important;
}

.my-light-grey {
    color: $my-light-grey !important;
}

.my-primary {
    color: $my-primary !important;
}

.my-secondary {
    color: $my-secondary !important;
}

.my-success {
    color: $my-success !important;
}

.my-danger {
    color: $my-danger !important;
}

// BACKGROUNDS
.my-bg-dark {
    background-color: $my-dark !important;
}

.my-bg-white {
    background-color: $my-white !important;
}

.my-bg-grey-medium {
    background-color: $my-grey-medium !important;
}

.my-bg-grey {
    background-color: $my-grey !important;
}

.my-bg-light-grey {
    background-color: $my-light-grey !important;
}

.my-bg-primary {
    background-color: $my-primary !important;
}

.my-bg-secondary {
    background-color: $my-secondary !important;
}

.my-bg-secondary-hover {
    background-color: $my-secondary-hover !important;
}

.my-bg-danger {
    background-color: $my-danger !important;
}

.my-bg-success {
    background-color: $my-success !important;
}

.my-bg-orange {
    background-color: $my-danger !important;
}