footer {
    color: $my-white !important;
    background-color: $my-dark !important;
    padding: 30px;
    h5 {
        color: $my-danger !important;
    }
     ::placeholder {
        color: $my-dark !important;
        font-size: 18px !important;
    }
    input {
        border-radius: 50px 0 0 50px !important;
        padding-left: 20px !important;
    }
    button {
        border-radius: 0 0.25rem 0.25rem 0 !important;
    }
    .social-icons {
        a {
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
    .fa-brands {
        font-size: 26px !important;
        color: $my-white !important;
        &:hover {
            color: $my-danger !important;
        }
    }
    .copyright {
        margin-top: 20px;
        a {
            color: $my-white !important;
            &:hover {
                color: $my-danger !important;
            }
        }
        font-size: 14px !important;
    }
}