$responsive-breakpoint: 1086px;
.navigation {
    position: fixed;
    z-index: 20;
    top: 0;
    /* font-family: "Poppins"; */
    font-family: "Roboto";
    background-color: $my-white;
    box-shadow: 0 1px 12px rgb(0 0 0 / 10%);
    width: 100%;
    a {
        font-size: 18px !important;
        color: $my-grey !important;
    }
    .navigation-desktop {
        background-color: $my-white;
        position: relative;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 17px;
        z-index: 20;
        .ul-navigation-desktop {
            display: flex;
            align-items: center;
            >li:not(:last-child) {
                margin-right: 25px;
            }
            @media (max-width: $responsive-breakpoint) {
                display: none;
            }
        }
        .menu-hamburger-responsive {
            cursor: pointer;
            display: none;
            i {
                color: $my-danger;
                font-size: 34px;
            }
            @media (max-width: $responsive-breakpoint) {
                display: block;
            }
        }
    }
    #form-searchbar {
        margin: 0;
        position: relative;
        font-family: cursive;
        font-size: 18px !important;
        font-style: italic !important;
        input {
            border: 1px solid $my-light-grey;
        }
        button {
            border: 1px solid $my-light-grey;
            color: $my-white;
            border-radius: 0 20px 20px 0 !important;
            border-left: none;
            &:hover {
                color: $my-white !important;
                background-color: $my-danger !important;
            }
        }
        #searchbar_results {
            display: none;
            width: 100%;
            position: absolute;
            top: 100%;
            left: 0;
            border: solid 3px $my-light-grey;
            max-height: 250px;
            overflow: scroll;
            overflow-x: hidden;
            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 7px !important;
                cursor: pointer;
                background-color: $my-white;
                font-size: 18px !important;
                font-style: italic !important;
                text-transform: none !important;
                border: solid 1px rgb(163, 163, 163);
            }
        }
        .no-results-found {
            cursor: pointer;
            border: 1px solid #9b9b9b;
            padding: 8px !important;
        }
        .img-search-bar {
            width: 50px;
            height: auto;
        }
    }
}

.navigation-responsive {
    display: none;
    box-shadow: 0px 0px 4px rgb(16 8 8);
    position: relative;
    z-index: 10;
    width: 100%;
    text-align: center;
    background: $my-white;
    position: fixed;
    transition: ease 0.8s;
    li {
        padding: 10px;
    }
    a {
        font-family: "Poppins";
        font-size: 18px !important;
        color: $my-dark !important;
    }
}

.active-navigation {
    font-weight: bold !important;
    /* border-bottom: solid 2px $my-dark !important; */
}

.logo {
    width: 88px;
    height: auto;
}

.spinner-border {
    display: none;
    width: 30px !important;
    height: 30px !important;
    margin-left: 20px;
}

.toggle-left {
    left: 0% !important;
}

.fa-arrow-right-from-bracket {
    transition: ease 0.8s !important;
}

.avatar {
    height: 45px;
    border-radius: 100px;
    background-color: $my-danger;
    color: $my-white;
    width: 45px;
}

.account {
    position: relative;
    .avatar-account {
        cursor: pointer;
        .fa-angle-down {
            transition: ease 0.8s;
        }
    }
    .account-dropdown {
        display: none;
        border: solid 3px $my-danger;
        width: 200px;
        border-radius: 20px;
        background-color: $my-white;
        padding: 10px;
        position: absolute;
        top: 116%;
        left: -60px;
        z-index: 10000;
        ul {
            width: 90%;
            margin: auto
        }
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}