.page-item.active .page-link {
    background-color: $my-danger;
    border-color: $my-danger;
}

.page-link {
    color: $my-danger;
}

.page-item a {
    &:hover {
        background-color: $my-danger !important;
        color: $my-white !important;
    }
}