/* Checkboxes login */

input[type="checkbox"],
input[type="radio"],
label {
    cursor: pointer;
}

.input-qty-css {
    width: 82px;
}

.product-details-container {
    .product-main-infos {
        .product-options-radio {
            .label-active {
                background-color: $my-white;
                color: $my-grey-medium !important;
            }
            input[type="radio"]:checked~.label-active {
                background-color: $my-grey-medium;
                color: $my-white !important;
            }
            label {
                border: solid 1px $my-grey-medium !important;
                font-weight: 200;
                border-radius: 0 !important;
                outline: none !important;
                padding: 5px 10px;
                &:hover {
                    background-color: $my-grey-medium;
                    color: $my-white !important;
                }
            }
        }
    }
    .form-check-input[type="radio"] {
        border-radius: 0 !important;
    }
    width: 80%;
    margin: auto;
    .zoom-product-details {
        position: relative !important;
        border: solid 1px $my-light-grey !important;
        /* box-shadow: 1px 1px 1px $my-light-grey; */
        &:hover {
            cursor: zoom-in;
        }
    }
    .product-details-main-img {
        max-width: 100%;
        height: auto;
    }
    .product-details-preview-img {
        cursor: pointer;
        max-width: 80px;
        height: auto;
        border: solid 1px $my-light-grey;
    }
    .form-check-input:checked[type="radio"] {
        border-radius: 0%;
    }
    .form-check-input:checked[type="radio"] {
        background-color: $my-danger;
        border-color: $my-danger;
    }
    .price {
        font-size: 30px;
        background-color: $my-danger;
        color: $my-white;
        padding: 8px;
    }
    a {
        color: $my-dark !important;
    }
    .bi-file-minus,
    .bi-plus-square {
        cursor: pointer;
    }
}

.product-description {
    .tab-content {
        margin-top: 20px;
    }
    .nav-item {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
    .nav-tabs {
        height: 70px;
        background-color: $my-danger;
    }
    .box_reviews_title {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        background-color: $my-danger;
        padding-top: 20px;
        padding-bottom: 20px;
        h4,
        h5,
        h6 {
            color: $my-white !important;
            margin: 0;
            padding: 0;
        }
    }
    .fa-star {
        color: #fbd600;
    }
    label {
        cursor: pointer;
    }
    .card {
        width: 100% !important;
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
    .review-list {
        max-height: 1000px !important;
        overflow: scroll !important;
        overflow-x: hidden !important;
        .review-date {
            color: $my-secondary;
            font-style: italic;
        }
        .img-review {
            max-width: 150px;
            max-width: 70px;
            height: auto;
            border-radius: 50%;
            border: solid 2px lightgray;
        }
    }
}

.nav-link {
    border: none !important;
    border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important;
    border: solid 2px $my-danger;
    background-color: rgba(255, 255, 255, 0.711);
    color: $my-white;
}

.show {
    background-color: $my-white !important;
    color: $my-dark;
}