// SHOP
.shop-container {
    width: 90%;
    margin: auto;
    .fa-angle-down {
        transition: 0.8s;
    }
}

.shop-filters {
    border: 1px solid $my-light-grey;
    border-radius: 0.75rem !important;
    .shop-filters-slide {
        .bi-arrow-right-short {
            font-size: 30px;
        }
    }
    .filters-head {
        font-family: "Oswald";
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        color: $my-dark;
        margin-bottom: 10px;
    }
    .filters-toggle {
        background-color: #ffffff;
    }
    label {
        font-size: 14px;
        cursor: pointer;
    }
    .checkbox-li {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        input[type="checkbox"] {
            cursor: pointer;
            margin-right: 5px;
            width: 17px;
            height: 17px;
        }
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
    .my-price-range {
        font-size: 14px !important;
        input,
        select {
            padding-left: 0.5rem !important;
            height: 38px;
            font-size: 14px;
            &:focus {
                border-color: $my-secondary !important;
            }
        }
        .symbol-price {
            font-size: 18px !important;
        }
    }
}

.sidebar-categories-head {
    color: white !important;
    background-color: $my-danger !important;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    font-style: italic;
    transition: 0.5s;
    padding: 9px 24px;
}

.products-shop {
    .nb_results_shop {
        border-top: solid 1px $my-light-grey;
        border-bottom: solid 1px $my-light-grey;
        color: $my-dark;
        font-style: italic;
        font-style: normal !important;
        font-size: 23px;
    }
}

.products-list {
    .product-actions {
        a {
            color: black !important;
            font-size: 14px !important;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .price {
        font-size: 15px;
        background-color: $my-danger;
        color: $my-white;
        padding: 8px;
    }
    .price-crossed-out {
        font-size: 15px;
        text-decoration: line-through;
    }
    .product-infos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        .product-category {
            font-weight: bold;
            text-transform: uppercase;
            color: #aaaaaa !important;
        }
    }
    i {
        font-size: 20px;
    }
    img {
        border: solid 1px lightgray;
    }
    /*  .img-product-list-div {
        position: relative;
        .product-price {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    } */
}

.div-shop-filters,
.div-shop-products-list {
    transition: ease 0.8s;
}

.shop-sidebar-categories {
    position: fixed;
    z-index: 100;
    top: 0;
    left: -1000%;
    height: 100%;
    background-color: $my-white;
    transition: ease 0.5s;
    .sidebar-categories-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .ul-nested-category-name,
        .see-all {
            cursor: pointer;
        }
    }
    .fa-circle-xmark {
        cursor: pointer;
    }
    #UL-NESTED-MAIN {
        height: 100%;
        li {
            border-bottom: solid 1px $my-light-grey;
            background: $my-white;
            width: 100%;
            .ul-nested {
                border-right: solid 1px $my-light-grey;
                border-left: solid 1px lightgray;
                background: $my-white;
                height: 100%;
                position: absolute;
                z-index: 10;
                left: 100%;
                top: 0;
                li {
                    min-width: 350px;
                }
            }
            a {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                height: 100%;
                width: 100%;
                cursor: pointer;
                font-size: 20px;
                font-style: italic;
                color: $my-dark;
                text-decoration: none;
                padding: 9px 20px;
                transition: none !important;
                .fa-angle-right {
                    display: none;
                    font-size: 23px;
                    color: $my-danger !important;
                }
                .fa-box {
                    color: $my-danger !important;
                }
            }
            .see-category-last {
                display: flex !important;
                align-items: center !important;
                justify-content: start !important;
            }
        }
        .see-all,
        .see-category-name-last {
            /* &:hover {
                text-decoration: underline;
            } */
        }
    }
    .nested-active {
        font-weight: bold;
        i {
            display: block !important;
        }
    }
}

.shop-overlay {
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    background: #000000ba;
}