.splide__progress__bar {
    height: 5px !important;
    background: $my-success !important;
}

.splide {
    margin-top: $margin-header-top;
    position: relative;
}

.splide__slide {
    width: 100%;
}


/* .splide__arrows i {
    color: rgba(255, 255, 255, 0.445);
    font-size: 50px;
}
*/

.splide__arrow--prev {
    position: absolute;
    top: 47%;
    left: 10%;
    z-index: 1;
    cursor: pointer;
    transition: transform ease-in 0.2s;
}

.splide__arrow--next {
    position: absolute;
    top: 47%;
    right: 10%;
    z-index: 1;
    cursor: pointer;
    transition: transform ease-in 0.2s;
}


/* .splide__arrow--prev:hover,
.splide__arrow--next:hover {
    transform: scale(1.2);
    color: azure;
} */

.splide__slide img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position: center;
}

.title {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1,
    h5 {
        font-family: "Roboto", sans-serif !important;
        margin: 0;
        color: $my-white !important;
    }
    h1 {
        font-size: 70px !important;
        margin-bottom: 10px;
    }
    h5 {
        font-size: 30px !important;
    }
}


/* Pagination Style */

.splide__pagination {
    width: fit-content;
    position: absolute;
    left: 50%;
    bottom: 7%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.splide__pagination--custom {
    li {
        margin-right: 10px;
        margin-left: 10px;
        /*  transform: translateX(-100%); */
    }
    button {
        background-color: $my-white;
        height: 20px;
        width: 20px;
        border: solid $my-white 2px;
        cursor: pointer;
        border-radius: 50%;
        transition: transform ease-in 0.2s;
        box-shadow: 1px 1px 1px $my-dark;
        &:hover {
            /*  transform: scale(1.1); */
            background-color: $my-danger;
        }
    }
}

.splide__pagination__page {
    background: rgb(255, 255, 255);
    border: 0;
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    margin: 3px;
    opacity: 1 !important;
    padding: 0;
    position: relative;
    transition: transform 0.2s linear;
    width: 8px;
}

.splide__pagination__page.is-active {
    background-color: $my-danger !important;
    transform: scale(1.4);
    z-index: 1;
}


/* Media Queries Page accueil */

@media screen and (max-width: 1070px) {
    /*     .logo-princier-monaco {
        left: 50%;
        transform: translateX(-50%);
    }
    .logo-pompiers {
        right: 50%;
        transform: translateX(44%);
    }
    .logo-princier-monaco img {
        max-width: none !important;
        width: 549px !important;
        height: auto !important;
    } */
}

@media screen and (min-width: 0px) and (max-width: 870px) {
    .title h1 {
        font-size: 40px !important;
    }
    .title h5 {
        font-size: 20px !important;
    }
    .splide__pagination {
        display: none;
    }
}


/* @media screen and (min-width: 0px) and (max-width: 700px) {
    .splide__slide .img-slider {
        object-fit: cover center;
        height: 80vh;
        width: auto;
    }
    .title {
        min-width: 80vw;
        top: 56%;
    }
} */

@media screen and (max-width: 700px) {
    .splide__track {
        height: 450px;
    }
    .splide__slide img {
        height: 100% !important;
        object-fit: cover !important;
    }
    .splide__arrow--prev {
        left: 5%;
    }
    .splide__arrow--next {
        right: 5%;
    }
    /*   .logo-princier-monaco img {
        max-width: none !important;
        width: 350px !important;
        height: auto !important;
    } */
}